h2 {
    font-size: 50px;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #17191f;
}

.NavBar h2 a {
  opacity: 1;
  color: white;
  text-decoration: none;
}

.NavBar ul {
  display: flex;
  gap: 5rem;
  font-weight: bold;
  padding: 0.1rem 10rem;
  list-style: none;
  font-size: 45px;
}

.NavBar ul li {
  position: relative;
}

.NavBar .dropdown-button {
  font-weight: bold;
  cursor: pointer;
  font-size: 45px;
  background-color: #17191f; 
  text-decoration: none;
  border: none; 
  padding: 0; 
  color: white;
  font-family: inherit; 
}

.NavBar .dropdown-button a {
  font-weight: bold;
}

.NavBar .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #222;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    list-style: none;
    padding: 0.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.NavBar .dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}
