.contatos {
    display: flex;
    justify-content: center;
}

.contatos ul li {
    margin-top: 75px;
    font-size: 75px;
}

.Gmail {
    display: flex;
    justify-content: space-between;
}

.Gmail h1 {
    font-size: 75px;
}

img {
    height: 75px;
    width: 75px;
    margin-left: 30px;
}

