.banner-content {
  height: 50vh;
  width: 70%;
  border: 2px solid black;
  border-radius: 2px;
  background: #fff;
}

.banner-content.dark {
  background: #3e3b3b;
  color: #fff;
  border-color: #fff;
}

.banner-content.light {
  background: #fff;
  color: #000;
}

.banner-itens {
  display: flex;
  justify-content: center;
  padding: 10%;
}
